<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="../../frontend/static/favicon.ico">
    <title>GPT Newspaper</title>
    <style>
        <!-- CSS_PLACEHOLDER -->
    </style>
</head>
<body>
    <header>
        <h1>GPT Newspaper</h1>
    </header>
    <div class="content">
        {{articles}}
    </div>
    <footer>
        <p>© 2023 GPT Newspaper. All Rights Reserved.</p>
    </footer>
</body>
</html>
